{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="col-md-12">
    <h1>This is the homepage</h1>


    <p>
      Quelques idées pour ici :
    </p>

    <ul>
      <li>Une landing page qui vend du rêve avec concept, inscription et parcourir les collections</li>
      <li>Afficher directement les quelques dernières collections</li>
      <li>Afficher directement les derniers utilisateurs inscrits</li>
      <li>[add your idea here]</li>
    </ul>

  </div>
</div>



{% endblock %}
