{% extends 'base.html' %}

{% load app_filter %}

{% block content %}

<div class="container py-4">
  <div class="card">
    <div class="card-block">

      <h1>New collection</h1>
      <hr/>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label>Name</label>
          {{form.name|addcss:"form-control form-control-lg"}}
        </div>

        <div class="form-group">
          <label>Illustration</label>
          {{form.image}}
        </div>

        <div class="form-group">
          <label>Tags</label>
          {{form.tags|addcss:"form-control form-control-lg"}}
        </div>

        <div class="form-group">
          <label>Private</label>
          {{form.private}}
        </div>

        <button type="submit" class="btn btn-primary">Create collection</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
