{% extends 'base.html' %}


{% block content %}

<div class="container">
  <h1>Hello {{request.user.username}}</h1>

  <a href="{% url 'new_collection' %}" type="button" class="btn btn-primary">Add new collection</a>

  <br/>

<ul class="list-group">
  {% for collection in view.collections %}

   <li class="list-group-item">
     <a href="{% url "collection_detail" collection.slug collection.pk %}">{{ collection.name }}</a> &nbsp;
     <a href="{% url "new_link" collection.pk collection.slug %}">Add link</a> &nbsp;
     <a href="{% url "delete_collection" collection.slug collection.pk %}">Delete</a> &nbsp;
     <a href="{% url "update_collection" collection.slug collection.pk %}">Update</a> &nbsp;
   </li>

  {% endfor %}
</ul>

</div>

{% endblock %}
