{% extends 'base.html' %}

{% block content %}

<div class="container">

  <h2>Public collections</h2>

  <p>HEre you can see a few public collections, it's fantastic. So great.</p>

  <div class="row">
    {% for c in collections %}

    <div class="col-md-4">
      <div class="card card-inverse">
        <img class="card-img" src="http://lorempicsum.com/futurama/255/255/2" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title">{{ c }}</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <br/>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
