{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="col-md-12">
    <h1>Welcome to LinkYou</h1>
    <h3>Cool subtitle</h3>


    <p>
      Last collections:
      <ul>
        <li>Collection1 </li>
        <li>Collection2</li>
        <li>Collection3</li>
      </ul>

      <a href="{% url 'registration_register' %}" type="button" class="btn btn-primary">Sign up</a>
      <a href="{% url 'login' %}" type="button" class="btn btn-secondary">Log in</a>
      <br/>
      <br/>

      Last register users :
      <ul>
        <li>User1</li>
        <li>User2</li>
        <li>User2</li>
      </ul>
    </p>
    <p>
      Quelques idées pour ici :
    </p>

    <ul>
      <li>Une landing page qui vend du rêve avec concept, inscription et parcourir les collections</li>
      <li>Afficher directement les quelques dernières collections</li>
      <li>Afficher directement les derniers utilisateurs inscrits</li>
      <li>[add your idea here]</li>
    </ul>



  </div>
</div>



{% endblock %}
