
{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">

  <div class="card my-4">
    <div class="card-block">

      <h1>Add links</h1>
      <hr/>

      <form method="post">
        {% csrf_token %}
        {{ link_formset.management_form }}
        {% for form in link_formset %}
        <div class="link-formset">
          <label>Text</label>
          {{ form.text }}
          <label>URL</label>
          {{ form.url }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/formset.js' %}"></script>
<script>
$('.link-formset').formset({
  addText: '<button class="btn">Add row</button>',
  deleteText: '<button class="btn btn-sm">Delete</button>'
});
</script>

{% endblock %}
